<!DOCTYPE html>
<html>
  <head>
    <title>Reminder Modification</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h1>Delete Reminder</h1>
      <form class = "form--deletereminder">
        
        <h3>If there are no reminder , first create one ! </h3>
        <div class="form-group">
          <label for="subject">Select Subject:</label>
          <select class="form-control" id="subject" name="subject">
            <!-- Populate the options with your subject list -->
            <option value="----">-----</option>
            <% reminders.forEach(function(reminder) { %>
            
            <option value="<%- reminder.subject %>"><%- reminder.subject %></option>
            
            <% })%>
            
          </select>
        </div>

        <div class="form-group">
          <label for="description">Reminders:</label>
          <select class="form-control" id="description" name="description">
            <!-- Populate the options with reminder names and descriptions -->
            <option value="----">-----</option>
            <% reminders.forEach(function(reminder) { %>
            
            <option value="<%- reminder.description %>"><%- reminder.description %></option>
            <% })%>
            <!-- <option value="reminder2">Reminder 2 - Description...</option> -->
            <!-- Add more options as needed -->
          </select>
        </div>

        </div>
<center><button class="btn btn-primary btn-deletereminder">Delete Reminder</button></center>
        
      </form>
      <center><br>
        <a href="/logout">Log out</a></center>

    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="http://localhost:8000/js/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
